[user]
    name = "Neptune Tan"
    email = "32198721+c3b2a7@users.noreply.github.com"
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOg4JNc0p23h651BmlnZIurOjTNCc6nMox18sUTp60gP
[core]
    excludesfile = {{ joinPath .XDG_CONFIG_HOME "git/ignore" | quote }}
    autocrlf = input
    quotepath = false
[init]
	defaultBranch = main
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = {{ joinPath .XDG_CONFIG_HOME "git/allowed-signers" | quote }}
[push]
	autoSetupRemote = true