[user]
    name = Neptune Tan
    email = lifei@smyfinancial.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOg4JNc0p23h651BmlnZIurOjTNCc6nMox18sUTp60gP
[core]
    excludesfile = {{ joinPath .XDG_CONFIG_HOME "git/ignore" | quote }}
    autocrlf = true
    quotepath = false
    sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = {{ joinPath .XDG_CONFIG_HOME "git/allowed-signers" | quote }}
[push]
	autoSetupRemote = true
[http]
    sslBackend = schannel