# ssh-agent
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# Cargo
. "$HOME/.cargo/env"

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/lifei/Development/mambaforge/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/lifei/Development/mambaforge/etc/profile.d/conda.sh" ]; then
        . "/Users/lifei/Development/mambaforge/etc/profile.d/conda.sh"
    else
        export PATH="/Users/lifei/Development/mambaforge/bin:$PATH"
    fi
fi
unset __conda_setup
if [ -f "/Users/lifei/Development/mambaforge/etc/profile.d/mamba.sh" ]; then
    . "/Users/lifei/Development/mambaforge/etc/profile.d/mamba.sh"
fi
# <<< conda initialize <<<

# Jetbrains ToolBox Scripts
export PATH=$HOME/Library/Application\ Support/JetBrains/Toolbox/Scripts:$PATH

export DEV_HOME={{.chezmoi.homeDir}}/Development
# JDK
export JDK8=$(/usr/libexec/java_home -v 1.8)
export JDK11=$(/usr/libexec/java_home -v 11)
export JDK17=$(/usr/libexec/java_home -v 17)
export JDK21=$(/usr/libexec/java_home -v 21)
export JAVA_HOME=$JDK21
export GRAALVM_HOME=/Library/Java/JavaVirtualMachines/graalvm-jdk-17.0.10+11.1/Contents/Home
# Go
export GO111MODULE=on
export GOPROXY=https://goproxy.cn,direct
export GO120=$DEV_HOME/go1.20
export GO121=$DEV_HOME/go1.21
export GO122=$DEV_HOME/go1.22
export GOROOT=$GO122
export GOPATH=$DEV_HOME/gopath
export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
